# Временные файлы платформы 1С
*.pfl
*.pfs
*.log
*.txt

# Файлы кэша и служебных данных
/bin/
/temp/
/cache/

# Выгрузки информационной базы
*.dt
*.cf
*.cfu

# Файлы EDT
.metadata/
.settings/
*.launch

# Локальные настройки и пользовательские файлы
/.local/
*.bak

# Папки с результатами сборки/отчётов
/reports/
/build/

# Системные файлы ОС
.DS_Store
Thumbs.db
